
  .job-header h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
    color: #007bff;
    font-weight: bold;
  }
.job-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
    gap: 20px;
    margin-bottom: 10px;
}

.job-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 900px;
    height: 100%;
}

.job-left {
    flex: 1;
    margin-right: 20px;
}

.company-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}
.job-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.job-description {
    font-size: 16px;
    color: #555;
    text-align: justify; /* Ensures text is justified */
    text-justify: inter-word; /* Distributes spacing between words evenly */
    width: 100%;
    line-height: 1.3;
    margin-top: 10px;
}

.job-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-details {
    margin-bottom: 20px;
}

.job-details p {
    font-size: 16px;
    margin: 8px 0;
    color: #333;
}

.job-details strong {
    color: #007bff;
}

.social-links {
    display: flex;
    justify-content: flex-start;
}

.social-icon {
    font-size: 24px;
    color: #555;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007bff;
}

.apply-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: white;
    color: #333;
    border: 1px solid #007bff;
}

.login-btn{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: fit-content;   
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}