/* SignIn.css */

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 800px;
    
}

.signin-form {
    font-size: 2.5rem;
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;

}



.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #333;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.form-group p {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #333;
}

.form-group label input[type="radio"] {
    margin-right: 0.5rem;
}

.login-button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.signin-links {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.signin-links a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2rem;
}

.signin-links a:hover {
    text-decoration: underline;
}